{
    "extends": "airbnb-base",
    "globals": {
        "document": true,
        "window": true,
        "Element": true,
        "HTMLElement": true,
        "fetch": true,
        "DOMParser": true
    },
    "rules": {
        "indent": ["error", 4]
    }
}